.hero {
  height: 100vh;
  background-image: url("../../public/images/stones.jpg");
  background-position: center;
  background-size: cover;
}

.hero__title {
  padding-top: 50px;
}

.hero__text {
  color: white;
}

.hero__subtext {
  color: white;
}

.aspiring {
  color: #e94560;
  display: inline-block;
}

.hero__skills {
  font-family: "Source Code Pro", monospace;
  font-style: italic;
  padding-left: 10px;
  padding-right: 10px;
}

.hero__button {
  transition: all ease-in-out 0.3s;
}

.hero__button:hover {
  color: white;
  background-color: #79dae8 !important;
  border-color: #79dae8 !important;
}
