.resume__section {
  background: rgba(0, 0, 0, 0.8);
  background-image: url("../../public/images/resume.jpg");
  height: 100vh;
  background-size: cover;
  background-blend-mode: darken;
}

.resume__title {
  position: absolute;
  padding-top: 100px;
  color: white;
}

.resume__button:hover {
  background-color: #e94560;
  border-color: #e94560;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
